body{
    background: grey;
    font-family: sans-serif;
    
    
    

}

input{
    padding: 4px;
    border-radius: 20px;
    margin: 4px auto;

}
button {
    border-radius: 20px;
    width: 170px;
    background-color: skyblue;
}
img{
    width: 20%;
    height: 20%;
    border: solid 3px;
    border-radius: 20px;
}

